Flask==3.1.2
Werkzeug==3.1.3
numpy==2.0.2
pillow==11.3.0

"On Windows"
tensorflow==2.17.0

"On MacOS"
tensorflow-macos==2.17.0
tensorflow-metal==1.1.0

supabase==2.4.7
gotrue==2.4.2
postgrest==0.15.1
supafunc==0.4.6
storage3==0.7.4
python-dotenv==1.0.1

